# Scratch directory for local testing
scratch/

# Mac-related dreck
.DS_Store

# Emacs edit files
*~
*#
.#

# Configs for other tools
.Rhistory
.vscode

# Compiled Python modules
*.pyc

# Distribution files
build/
dist/
pyani.egg-info/
distribute*

# RTD documentation building
docs/_build/
docs/make.bat

# MyPy cache
.mypy_cache/

# Test output
*.dataframe
*.log
tests/test_*_out/
tests/test_*_output/
tests/test_concordance_*/
tests/test_output
tests/test_JSpecies/C1/
tests/test_JSpecies/C2/
tests/test_JSpecies/C3/
tests/test_JSpecies/Corynebacterium/
tests/test_JSpecies/pyani_3_species/
	
# SGE output
stderr/
stdout/
jobs/
output/

# Coverage test output
cover/
htmlcov/
.coverage
.coverage.*

# iPython/Jupyter
.ipynb_checkpoints

# Development virtualenvs
venv-*
.python-version

# Don't include the development local config dir
.pyani

# Ignore mypy config
.mypy_cache