# Mac-related dreck
.DS_Store

# Emacs edit files
*~
*#
.#

# Compiled Python modules
*.pyc

# Distribution files
build/
dist/
pyani.egg-info/
distribute*

# Unrequired test input (generated in-test)
tests/test_input/anib/*.dataframe
tests/test_input/anib/blastn/*.dataframe
tests/test_input/anib/blastall/*.dataframe

# Test output
*.log
tests/test_*_out/
tests/test_*_output/
tests/test_concordance_*/
tests/test_JSpecies/C1/
tests/test_JSpecies/C2/
tests/test_JSpecies/C3/
tests/test_JSpecies/Corynebacterium/
tests/test_JSpecies/pyani_3_species/
	
# Test/local results databases
.pyani

# SGE output
stderr/
stdout/
jobs/
output/

# Coverage test output
cover/
.coverage

# iPython/Jupyter/R
.ipynb_checkpoints
.Rhistory

# Scratchpad for experimentation
scratch/

# RTD docs for next version
docs/

# Development virtualenvs
venv-*
.python-version

# issue-fixing directories
issue*/