language: python
sudo: required
dist: xenial
python:
  - "3.5"
  - "3.5-dev"
  - "3.6"
  - "3.6-dev"
  - "3.7"
  - "3.7-dev"

# command to install dependencies
install:
  - "pip install -r requirements.txt"
  - "pip install -r test-requirements.txt"

# command to run tests
# Use --nocapture with nosetests to get extra verbose output for debugging on Travis
script:
  - nosetests -v --with-coverage --cover-package=pyani

# application dependencies: BLAST+, legacy BLAST, MUMMER
before_install:
  - cd $HOME
  - cd $TRAVIS_BUILD_DIR

sudo: false
addons:
  apt:
    packages:
    - csh
    - ncbi-blast+
    - mummer

# Use codecov for code coverage
after_success:
  - codecov